@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900";

body {
    text-align: center;
    background-color: #e2e1de;
    color: #1a1919;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #1a1919;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.head {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
    min-width: 350px;
}

.logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: none;
    float: left;
    max-width: 75%;
}

.i {  
  color: #ff0066;
  position: relative;
  font-weight: 900;
  font-size: 3rem;
  float: left;
  align-items: left;
  bottom: 0.9rem;
}
.i:before {
  content: ".";
  position: absolute; 
  color: #00e0be;
}

.button {
  -webkit-appearance: none;
  text-align: center;
  align-self: center;
  font-size: 1.1rem;
  font-weight: 900;
  cursor: pointer;
  cursor: hand;
  outline: none;
  color: #1a1919;
  background-color: #e2e1de;
  border: none;
  width: 78vh;
  height: 4vh;
}

.button:hover {
  background-color: #1a1919;
  color: #e2e1de;
}

.button:active {
  background-color: #2c2733;
  color: #e2e1de;
}

.buttonb {
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  cursor: hand;
  outline: none;
  background-color: #00e0be;
  color: #e2e1de;
  border: none;
  width: 78vh;
  height: 4vh;
}

.buttonb:hover {
  background-color: #00e0be;
  color: #e2e1de;
}

.buttonb:active {
  background-color: #00e0be;
  color: #e2e1de;
}

.buttonc {
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  cursor: hand;
  outline: none;
  color: #e2e1de;
  background-color: #ff0066;
  border: none;
  width: 78vh;
  height: 4vh;
}

.buttonc:hover {
  background-color: #ff0066;
  color: #e2e1de;
}

.buttonc:active {
  background-color: #ff0066;
  color: #1a1919;
}

.about {
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-top: 0.95rem;
}

#status {
    font-weight: 200;
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    width: 70vh;
    height: 100px;
    margin: auto;
}

#switcher {
    max-width: 80vh;
    min-width: auto;
    color: #1a1919;
    background: #e0e0dc;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    display: flex;
    margin: 10px auto;
    text-align: left;
    font-size: 2rem;
    min-height: 50vh;
    font-weight: 100;
    border-bottom: 1px solid #1a1919;
    margin-bottom: 0px;
}
